/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Main Content */
main {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600px;
    text-align: center;
    letter-spacing: 0.5px;
}

/* Favorites Section */
.favorites-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 20px;
}

/* Book Item */
.book-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 220px;
    background-color: #f9f9f9;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.book-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.book-item img:hover {
    transform: scale(1.1);
}

/* Title Styling */
.book-item .title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

.title a {
    transition: transform 0.3s ease-in-out;
    transform: translate(-5px);
}

.title a:hover {
    transform: scale(1.1);
}

/* Book Details */
.book-item .details {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    text-align: left;
    width: 100%;
}

/* Styling for Book Author */
.book-item .author {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* Styling for Total Chapters */
.book-item .chapters {
    font-size: 14px;
    color: #555;
    margin-top: 5px;
}

/* No Books Found */
.favorites-section p {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}

a {
    text-decoration: none;
}
